# Android Studio
*.iml
*.ipr
*.iws
**/.idea/.name
**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/datasources.xml
**/.idea/dataSources.ids
**/.idea/gradle.xml
**/.idea/misc.xml
**/.idea/modules.xml
**/.idea/libraries

# Bitrise
.bitrise.secrets.yml

# Build
build/

# Gradle
.gradle/
local.properties

# Signing
/gradle/helper/keystore/*.properties*

# System Files
.DS_Store
Thumbs.db
gradle.properties
